
# Created by https://www.gitignore.io/api/codeigniter

.gitignore

### CodeIgniter ###
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

*/dev/application/config/database.php
*/dev/application/cache/*

*/assets/thumbs/*
